---
---

@import "{{ site.theme }}";

#toc {
    &:before {
        content: 'Table of contents';
        color: #537abd;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        display: block;
        font-size: 1.17em;
    }

    &:empty {
        display: none;
    }
}

.project-name {
    font-weight: normal;
}

.page-header {
    background: url('../img/background.svg') -50px -50px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: #537abd;
}

.antispam {
    display: inline-block;
    width: 0;
    opacity: 0;
    white-space: nowrap;
    padding: 0 !important;
    margin: 0;
    user-select: none;
}

h1 > a {
    color: #fff;
}

p > img:first-child:last-child {
    display: block;
    margin: auto;
}

li > ul {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem;
}

p {
    text-align: justify;
}