---
---

@import "{{ site.theme }}";

.project-name {
    font-weight: normal;
}

.page-header {
    background: url('../img/background.svg') -50px -50px;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: #537abd;
}