---
---

@import "{{ site.theme }}";

#toc {
    &:before {
        content: 'Table of contents';
        color: #537abd;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: normal;
        display: block;
        font-size: 1.17em;
    }

    &:empty {
        display: none;
    }
}

.project-name {
    font-weight: normal;
}

.page-header {
    background: url('../img/background.svg') -50px -50px;
}

#content .site-footer .btn {
    border-color: #888;
    color: #888;
    text-decoration: none;
}

.site-footer .btn:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
    color: #537abd;
}

.antispam {
    display: inline-block;
    width: 0;
    opacity: 0;
    white-space: nowrap;
    padding: 0 !important;
    margin: 0;
    user-select: none;
}

h1 > a,
h1 > a:visited {
    color: #fff;
}

#content a {
    text-decoration: underline;
}

a {
    color: #1a73e8;
}

a:visited {
    color: #673ab7;
}

a.img {
    text-align: center;
    display: block;
}

li > ul {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem;
}

p {
    text-align: justify;
}

body {
    color: #3c4043;
}

@media screen and (max-width: 42em) {
    .btn {
        display: inline-block;
        width: auto;
    }

    .btn + .btn {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}
