<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <base href="/protopipe_web/" />
    <meta charset="UTF-8" />

    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png?nocache=true">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png?nocache=true">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png?nocache=true">
    <link rel="manifest" href="./site.webmanifest?nocache=true">
    <link rel="mask-icon" href="./safari-pinned-tab.svg?nocache=true" color="#537abd">
    <link rel="shortcut icon" href="./favicon.ico?nocache=true">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#537abd">

    {% include autotitle.html html=content %}

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}

    {% seo title=false %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" />
  </head>

  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name"><a href="">{{ site.title }}</a></h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {% assign baseURL = '.' | append: page.url %}
      <div id="toc">{% include toc.html html=content h_min=3 baseurl=baseURL %}</div>

      {{ content }}

      <footer class="site-footer">
        <a href="documentation" class="btn">Documentation</a>
        <a href="cards/" class="btn">Index of cards</a>
        <a href="contact" class="btn">Contact</a>
      </footer>
    </main>

    <script type="text/javascript">
        var toc = document.getElementById('toc');
        
        if (window.location.pathname.indexOf('/cards/') >= 0) {
          toc.parentNode.removeChild(toc);
        }
        else {
          toc.parentNode.insertBefore(toc, document.getElementsByTagName('h3')[0]);
        }

        var imgs = document.getElementsByTagName('img');

        for (var i = 0; i < imgs.length; ++i) {
          var img = imgs[i];

          if (img.classList.contains('hardcoded')) {
            continue;
          }

          var container = document.createElement('div');
          container.className = 'img';
          var link = document.createElement('a');
          link.setAttribute('href', img.src);
          link.setAttribute('target', '_blank');
          var style = img.getAttribute('style');

          if (style != null) {
            container.setAttribute('style', style);
          }

          if (!img.classList.contains('originalSize')) {
            img.setAttribute('srcset', img.src + ' 2x');
            img.removeAttribute('src');
          }

          img.removeAttribute('style');
          img.parentNode.replaceChild(container, img);
          link.appendChild(img);
          container.appendChild(link);
        }

      var links = document.getElementsByTagName('a');
      var myPath = window.location.href.split('#')[0];

      for (var i = 0; i < links.length; ++i) {
        var href = links[i].getAttribute('href');

        if (href.charAt(0) == '#') {
          links[i].setAttribute('href', myPath + href);
        }
      }
    </script>
  </body>
</html>